@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Men_AccTrInvReceipt;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>

    .th_Style {
        /*background-color: darkgray !important;*/
        color: white !important; 
    }

    .Total_Style_Worng {
        color: red !important;
        font-weight: bold !important;
        font-size: 62% !important;
    }

    .Total_Style_scss {
        color: #00b355 !important;
        font-weight: bold !important;
        font-size: 62% !important;
    }

    td {
        color: #aad4ff !important;
    }

</style>

<!-- Begin Page Content -->
<div class="container-fluid">

 


    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6  ">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <a href="#" id="print_5" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin-right: 83%;">
                            <i class="fas fa-download fa-sm text-white-50"></i> Print
                        </a>
                        <h4 class="card-title">أرصدة البنك  </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="Table_5" >
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> الوصف </th>
                                        <th> النسبه </th>
                                        <th> الرصيد </th>
                                    </tr>
                                </thead>
                                <tbody id="TableCashOrBank_1"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-6  ">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                       
                            <a href="#" id="print_4" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin-right: 83%;">
                                <i class="fas fa-download fa-sm text-white-50"></i> Print
                            </a>
                            <h4 class="card-title">  أرصدة الصناديق</h4>

                       

                            <div class="table-responsive">
                                <table class="table table-bordered" id="Table_4">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> الوصف </th>
                                            <th> النسبه </th>
                                            <th> الرصيد </th>
                                        </tr>
                                    </thead>
                                    <tbody id="TableCashOrBank_2"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>




    <!-- Content Row -->

    <div class="row" >
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between ">

        </div>

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- DataTales Example -->
                <div class="card shadow   mb-4 ">
                    <div class="card-header py-3">
                        <div class="col-xl-10 col-lg-10">

                            <h6 class="m-0 font-weight-bold text-primary">   أرساليات </h6>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <a href="#" id="print_1" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-download fa-sm text-white-50"></i> Print
                            </a>
                        </div>


                    </div>
                    <div class="card-body" >
                        <div class="table-responsive">
                            <table class="table table-bordered" id="Table_1" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th id="titel_Th" class="th_Style">أرساليات</th>
                                        <th class="th_Style">يناير</th>
                                        <th class="th_Style">فبراير</th>
                                        <th class="th_Style">مارس</th>
                                        <th class="th_Style">  ابريل</th>
                                        <th class="th_Style">مايو </th>
                                        <th class="th_Style">يونية  </th>
                                        <th class="th_Style">يويو   </th>
                                        <th class="th_Style">أغسطس   </th>
                                        <th class="th_Style">سبتمبر   </th>
                                        <th class="th_Style">أكتوبر   </th>
                                        <th class="th_Style">نوفمبر   </th>
                                        <th class="th_Style">ديسمبر   </th>
                                        <th class="th_Style">الرصيد   </th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable_0">

                                   

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>

        <!-- Pie Chart -->
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- DataTales Example -->
                <div class="card shadow  mb-4 ">
                    <div class="card-header py-3">
                        <div class="col-xl-10 col-lg-10">

                            <h6 class="m-0 font-weight-bold text-primary">   العملاء </h6>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <a href="#"id="print_2"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-download fa-sm text-white-50"></i> Print
                            </a>
                        </div>

                        <div class="col-xl-12 col-lg-12">

                            <h6 class="m-0 font-weight-bold text-primary" id="BalancesSales" style="font-size: 12px;">   رصيد سابق: 0 </h6>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="Table_2" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th id="titel_Th" class="th_Style">العملاء</th>
                                        <th class="th_Style">يناير</th>
                                        <th class="th_Style">فبراير</th>
                                        <th class="th_Style">مارس</th>
                                        <th class="th_Style">  ابريل</th>
                                        <th class="th_Style">مايو </th>
                                        <th class="th_Style">يونية  </th>
                                        <th class="th_Style">يويو   </th>
                                        <th class="th_Style">أغسطس   </th>
                                        <th class="th_Style">سبتمبر   </th>
                                        <th class="th_Style">أكتوبر   </th>
                                        <th class="th_Style">نوفمبر   </th>
                                        <th class="th_Style">ديسمبر   </th>
                                        <th class="th_Style">الرصيد   </th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable_1">

                                  


                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>




        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- DataTales Example -->
                <div class="card shadow  mb-4 ">
                    <div class="card-header py-3">
                        <div class="col-xl-10 col-lg-10">

                            <h6 class="m-0 font-weight-bold text-primary">   الموردين </h6>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <a href="#" id="print_3"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-download fa-sm text-white-50"></i> Print
                            </a>
                        </div>

                        <div class="col-xl-12 col-lg-12">
                            <h6 class="m-0 font-weight-bold text-primary" id="BalancesPurchase" style="font-size: 12px;">   رصيد سابق: 0 </h6>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="Table_3" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th id="titel_Th" class="th_Style">الموردين</th>
                                        <th class="th_Style">يناير</th>
                                        <th class="th_Style">فبراير</th>
                                        <th class="th_Style">مارس</th>
                                        <th class="th_Style">  ابريل</th>
                                        <th class="th_Style">مايو </th>
                                        <th class="th_Style">يونية  </th>
                                        <th class="th_Style">يويو   </th>
                                        <th class="th_Style">أغسطس   </th>
                                        <th class="th_Style">سبتمبر   </th>
                                        <th class="th_Style">أكتوبر   </th>
                                        <th class="th_Style">نوفمبر   </th>
                                        <th class="th_Style">ديسمبر   </th>
                                        <th class="th_Style">الرصيد   </th>
                                    </tr>
                                </thead>
                                <tbody id="dataTable_2">

                                   


                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
    </div>



</div>
<!-- /.container-fluid -->
<!-- Page level plugins -->
<script src="~/New/vendor/chart.js/Chart.min.js"></script>
<!-- Page level custom scripts -->
<script src="~/New/js/demo/chart-area-demo.js"></script>
<script src="~/New/js/demo/chart-pie-demo.js"></script>


@section Script{
    <script src="~/ClientApp/Dashboard/Dashboard.js"></script>
}

