
<style>

	.u-btn {
		margin-top: 0px !important;
		margin-bottom: 2px !important;
	}
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



	<form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
		<div class="u-form-email u-form-group u-form-partition-factor-9">

		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-6">
			<label for="" class="u-label u-text-grey-40">User Type</label>
			<select id="drpUserType" name="select" class="u-input u-input-rectangle">
				<option value="Null" data-calc="">All</option>
				<option value="2" data-calc="">Administrator 👨‍⚖️</option>
                <option value="11" data-calc="">Delivery 🚴‍</option>
				<option value="3" data-calc="">Stock keeper 👨‍🔧📦</option>
				<option value="4" data-calc="">Stock Man 👷‍</option>
				<option value="5" data-calc="">Accountant 👨‍💼</option> 
			</select>
		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-6">
			<label for="" class="u-label u-text-grey-40">Activity</label>
			<select id="drpActive" name="select" class="u-input u-input-rectangle">
				<option value="Null" data-calc="">All</option>
				<option value="1" data-calc="">Active ✅</option>
				<option value="0" data-calc="">Not Active ❌</option>
			</select>
		</div>

		<div class="u-form-group u-form-name u-form-partition-factor-6">
			<label for="" class="u-label u-text-grey-40"> </label>
			<a id="Filter_View" style="width: 100%;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">Filter</a>

		</div>
		<div class="u-form-email u-form-group u-form-partition-factor-9" style="text-align: -webkit-center;">
			<h6 id="btnDelete_Filter" class="display_none" style="width: 20%; cursor: pointer;">❌</h6>
		</div>
	</form>

	<div class="inside-table my-4">


		<div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
			<label for="Txt_Ref_No" class="u-label u-text-grey-40">_____Search 🔎</label>
			<input type="text" placeholder="   Search : " id="txtSearch" name="email" class="Clear_Header u-input u-input-rectangle" required="">
		</div>

		<div id="_Grid">

		</div>


	</div> 
</div>




<script src="~/ClientApp/JsGrid.js"></script>
<script src="~/Scripts/jsgrid/jsgrid.js"></script> 
<script src="~/ClientApp/UserControl/EmpControl.js"></script>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
