<section class="u-align-center u-clearfix u-section-3" id="sec-02c8">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
            <ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled" role="tablist">
                <li class="u-tab-item" role="presentation">
                    <a class="active u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Description</a>
                </li>
                <li class="u-tab-item" role="presentation">
                    <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-2" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false">Specifications</a>
                </li>
                <li class="u-tab-item" role="presentation">
                    <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">Reviews</a>
                </li>
                <li class="u-tab-item u-tab-item-4" role="presentation">
                    <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-4" id="tab-93fc" href="#link-tab-93fc" role="tab" aria-controls="link-tab-93fc" aria-selected="false">Questions</a>
                </li>
                <li class="u-tab-item" role="presentation">
                    <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-5" id="link-tab-fd40" href="#tab-fd40" role="tab" aria-controls="tab-fd40" aria-selected="false">
                        Test<br>
                    </a>
                </li>
            </ul>
            <div class="u-tab-content">
                <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
                    <div class="u-container-layout u-container-layout-1">
                        <h4 class="u-text u-text-default u-text-1">Basic Settings</h4>
                        <div class="u-expanded-width u-table u-table-responsive u-table-1">
                            <table class="u-table-entity">
                                <colgroup>
                                    <col width="25%">
                                    <col width="25%">
                                    <col width="25%">
                                    <col width="25%">
                                </colgroup>
                                <tbody class="u-table-alt-grey-5 u-table-body">
                                    <tr style="height: 51px;">
                                        <td class="u-table-cell">Column 1</td>
                                        <td class="u-table-cell">Column 2</td>
                                        <td class="u-table-cell">Column 3</td>
                                        <td class="u-table-cell">Column 4</td>
                                    </tr>
                                    <tr style="height: 51px;">
                                        <td class="u-table-cell">Row 1</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                    </tr>
                                    <tr style="height: 51px;">
                                        <td class="u-table-cell">Row 2</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                    </tr>
                                    <tr style="height: 51px;">
                                        <td class="u-table-cell">Row 3</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                    </tr>
                                    <tr style="height: 52px;">
                                        <td class="u-table-cell">Row 4</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                        <td class="u-table-cell">Description</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                        <p class="u-text u-text-default u-text-2">
                            Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
                            <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </div>
                <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
                    <div class="u-container-layout u-container-layout-3">
                        <h4 class="u-text u-text-default u-text-3">Be The First To Review This Product!</h4>
                        <p class="u-text u-text-default u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        <a href="" class="u-btn u-button-style u-btn-1">write product review</a>
                    </div>
                </div>
                <div class="u-container-style u-tab-pane u-white u-tab-pane-4" id="link-tab-93fc" role="tabpanel" aria-labelledby="tab-93fc">
                    <div class="u-container-layout u-container-layout-4"></div>
                </div>
                <div class="u-container-style u-tab-pane u-white u-tab-pane-5" id="tab-fd40" role="tabpanel" aria-labelledby="link-tab-fd40">
                    <div class="u-container-layout u-container-layout-5">
                        <div class="u-form u-form-1">
                            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                                <div class="u-form-group u-form-name u-label-none">
                                    <label for="name-3b9a" class="u-label">Name</label>
                                    <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-input u-input-rectangle" required="">
                                </div>
                                <div class="u-form-email u-form-group u-label-none">
                                    <label for="email-3b9a" class="u-label">Email</label>
                                    <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-input u-input-rectangle" required="">
                                </div>
                                <div class="u-form-group u-form-message u-label-none">
                                    <label for="message-3b9a" class="u-label">Message</label>
                                    <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-input u-input-rectangle" required=""></textarea>
                                </div>
                                <div class="u-form-group u-form-select u-label-none u-form-group-4">
                                    <label for="select-76de" class="u-label">Dropdown</label>
                                    <div class="u-form-select-wrapper">
                                        <select id="select-76de" name="select" class="u-input u-input-rectangle">
                                            <option value="Item 1" data-calc="">Item 1</option>
                                            <option value="Item 2" data-calc="">Item 2</option>
                                            <option value="Item 3" data-calc="">Item 3</option>
                                        </select>
                                        <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                                    </div>
                                </div>
                                <div class="u-form-checkbox-group u-form-group u-label-none u-form-group-5">
                                    <label class="u-label">Checks</label>
                                    <div class="u-form-checkbox-group-wrapper">
                                        <div class="u-input-row">
                                            <input id="field-882d" type="checkbox" name="checkbox[]" value="Item 1" class="u-field-input" checked="checked" data-calc="">
                                            <label class="u-field-label" for="field-882d">Item 1</label>
                                        </div>
                                        <div class="u-input-row">
                                            <input id="field-4d7e" type="checkbox" name="checkbox[]" value="Item 2" class="u-field-input" data-calc="">
                                            <label class="u-field-label" for="field-4d7e">Item 2</label>
                                        </div>
                                        <div class="u-input-row">
                                            <input id="field-4131" type="checkbox" name="checkbox[]" value="Item 3" class="u-field-input" data-calc="">
                                            <label class="u-field-label" for="field-4131">Item 3</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-form-group u-form-radiobutton u-label-none u-form-group-6">
                                    <label class="u-label">Radios</label>
                                    <div class="u-form-radio-button-wrapper">
                                        <div class="u-input-row">
                                            <input id="field-f602" type="radio" name="radiobutton" value="Item 1" class="u-field-input" checked="checked" data-calc="">
                                            <label class="u-field-label" for="field-f602">Item 1</label>
                                        </div>
                                        <div class="u-input-row">
                                            <input id="field-2d62" type="radio" name="radiobutton" value="Item 2" class="u-field-input" data-calc="">
                                            <label class="u-field-label" for="field-2d62">Item 2</label>
                                        </div>
                                        <div class="u-input-row">
                                            <input id="field-7166" type="radio" name="radiobutton" value="Item 3" class="u-field-input" data-calc="">
                                            <label class="u-field-label" for="field-7166">Item 3</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-form-checkbox u-form-group u-label-none u-form-group-7">
                                    <input type="checkbox" id="checkbox-66ac" name="checkbox-1" value="On" class="u-field-input">
                                    <label for="checkbox-66ac" class="u-field-label">Checkbox</label>
                                </div>
                                <div class="u-form-date u-form-group u-label-none u-form-group-8">
                                    <label for="date-5208" class="u-label">Date</label>
                                    <input type="text" readonly="readonly" placeholder="MM/DD/YYYY" id="date-5208" name="date" class="u-input u-input-rectangle" required="" data-date-format="mm/dd/yyyy">
                                </div>
                                <div class="u-align-left u-form-group u-form-submit">
                                    <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                </div>
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="2b225d1a-d88e-6315-ddbc-6828b357a06f">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>