
<style>

	.u-btn {
		margin-top: 0px !important;
		margin-bottom: 2px !important;
	}
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



	 

	@************************************************Tab****************************************************************@

	<div id="" class="  u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
		<ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled" role="tablist">
		</ul>
		<div class="u-tab-content" style="overflow-x: scroll;">
			@******************************************************Invoic******************************@
			<div class="Grid_StyleSize u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="Tap_View_Inv">

				<div class="inside-table my-4">


					<div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
						<label for="" class="u-label u-text-grey-40">_____Search 🔎</label>
						<input type="text" placeholder="   Search : " id="txtSearch" name="email" class="Clear_Header u-input u-input-rectangle" required="">
					</div>

					<div id="_Grid">

					</div>


				</div>





			</div>


		</div>
	</div>


	<form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">

		@***************************Inv*******************************@

		<div class="Txt_Inv_Tot u-form-email u-form-group u-form-partition-factor-5">
			<label for="" class="u-label u-text-grey-40">Line Count </label>
			<input disabled type="text" placeholder="0" id="Txt_Total_LineCount" class=" u-input u-input-rectangle">
		</div>
		<div class="Txt_Inv_Tot u-form-group u-form-name u-form-partition-factor-5">
			<label for="" class="u-label u-text-grey-40">Items Count </label>
			<input disabled type="text" placeholder="0" id="Txt_Total_ItemsCount" class=" u-input u-input-rectangle">
		</div>
		<div class="Txt_Inv_Tot  u-form-group u-form-name u-form-partition-factor-5">
			<label for="" class="u-label u-text-grey-40">Waiting amount</label>
			<input disabled type="text" placeholder="0" id="Txt_Total_Amount" class="  u-input u-input-rectangle">
		</div>



	</form>




</div>




<script src="~/ClientApp/JsGrid.js"></script>
<script src="~/Scripts/jsgrid/jsgrid.js"></script>
<script src="~/ClientApp/Saller/Seller_Wait_Inv.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
 
