<section class="u-clearfix u-section-11" id="sec-53fe">
    <div class="u-clearfix u-sheet u-sheet-1">
        <!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
        <div class="u-container-style u-expanded-width u-product u-product-1" data-products-datasource="site" data-product-id="2">
            <div class="u-container-layout u-container-layout-1">
                <!--product_image-->
                <img alt="" class="u-image u-image-contain u-image-default u-product-control u-image-1" data-image-width="2000" data-image-height="1333" src="~/NewStyle/images/istockphoto-853561716-1024x1024.jpg"><!--/product_image--><!--product_title-->
                <h2 class="u-product-control u-text u-text-default u-text-1">Eslam Mamdouh Abd El Wahab</h2><!--/product_title-->
                <h4 class="u-text u-text-default u-text-2">RefNo : ( 3261594 )</h4>
                <h6 class="u-text u-text-default u-text-3">TrNo : ( 12345679 )</h6><!--product_price-->
                <div class="u-product-control u-product-price u-product-price-1">
                    <div class="u-price-wrapper u-spacing-10">
                        <!--product_old_price-->
                        <div class="u-hide-price u-old-price" style="text-decoration: line-through !important;"><!--product_old_price_content-->$10<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                        <div class="u-price u-text-palette-2-base" style="font-size: 1.5rem; font-weight: 700;">$7</div><!--/product_regular_price-->
                    </div>
                </div><!--/product_price-->
                <h6 class="u-text u-text-default u-text-4">Net Total :</h6><!--product_price-->
                <div class="u-product-control u-product-price u-product-price-2">
                    <div class="u-price-wrapper u-spacing-10">
                        <!--product_old_price-->
                        <div class="u-hide-price u-old-price" style="text-decoration: line-through !important;"><!--product_old_price_content-->$10<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                        <div class="u-price u-text-palette-4-base" style="font-size: 1.5rem; font-weight: 700;"><!--product_regular_price_content-->$7<!--/product_regular_price_content--></div><!--/product_regular_price-->
                    </div>
                </div><!--/product_price-->
                <h6 class="u-text u-text-default u-text-5">Counter Items&nbsp; :&nbsp;</h6>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-2"></div><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":"Delete"}--><!--/options_json-->
                <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-text-black u-text-hover-white u-btn-1 u-dialog-link u-payment-button" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" data-product-button-click-type="buy-now" data-product-id="2" data-product="{&quot;id&quot;:&quot;2&quot;,&quot;name&quot;:&quot;eslam-mamdouh-abd-el-wahab&quot;,&quot;title&quot;:&quot;Eslam Mamdouh Abd El Wahab&quot;,&quot;description&quot;:&quot;Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.&quot;,&quot;price&quot;:&quot;7&quot;,&quot;oldPrice&quot;:&quot;10&quot;,&quot;quantity&quot;:1,&quot;currency&quot;:&quot;USD&quot;,&quot;sku&quot;:&quot;&quot;,&quot;outOfStock&quot;:false,&quot;categories&quot;:[],&quot;images&quot;:[{&quot;url&quot;:&quot;images/6f461f60.svg&quot;}],&quot;created&quot;:1697849530728,&quot;updated&quot;:1698704171967,&quot;isDefault&quot;:true}"><!--product_button_content-->Delete<!--/product_button_content--></a><!--/product_button--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":"&ZeroWidthSpace;freeze"}--><!--/options_json-->
                <a href="#" class="u-black u-border-2 u-border-black u-btn u-button-style u-hover-black u-product-control u-btn-2 u-dialog-link u-payment-button" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" data-product-button-click-type="buy-now" data-product-id=""><!--product_button_content--> freeze<!--/product_button_content--></a><!--/product_button--><!--product_button--><!--options_json--><!--{"clickType":"buy-now","content":"Edit"}--><!--/options_json-->
                <a href="#" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-palette-4-light-2 u-product-control u-btn-3 u-dialog-link u-payment-button" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" data-product-button-click-type="buy-now" data-product-id=""><!--product_button_content-->Edit<!--/product_button_content--></a><!--/product_button-->
                <div class="u-border-3 u-border-palette-1-base u-container-style u-group u-group-1">
                    <div class="u-container-layout u-container-layout-2"></div>
                </div>
            </div>
        </div><!--/product_item--><!--/product-->
    </div>
</section>
<script src="~/ClientApp/Order/View_Order.js"></script>