<section class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-section-11" src="" id="carousel_473e">
    <div class="u-clearfix u-sheet u-sheet-1 ">
        @*<h1 class="u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity; animation-duration: 1500ms;"> BSE Comp</h1>*@
        <h6 id="Name_Cust_View_Or" class="  u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity;animation-duration: 1500ms;font-size: 20px;"> Name: Eslam Mamdouh Abd El Wahab</h6>
        <p id="Phone_View_Or" class="Font_SizeLab u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity; animation-duration: 1500ms;">
            Phone : 01145676760
        </p>
        <p id="RefNo_TrNo_View_Or" class="Font_SizeLab u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity; animation-duration: 1500ms;">
            RefNo ( 326555466 ) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TrNo ( 123456789 )
        </p>
        <p id="Vat_Total_View_Or" class="Font_SizeLab u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity; animation-duration: 1500ms;">
            Vat ( 5 ) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total ( 123456789 )
        </p>
        <p id="Comm_Total_View_Or" class="Font_SizeLab u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity; animation-duration: 1500ms;">
            Commition ( 5 ) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Net Total ( 123456789 )
        </p>
        <p id="Coun_View" class="Font_SizeLab u-text u-text-default u-text-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" style="will-change: transform, opacity; animation-duration: 1500ms;">
            &nbsp;&nbsp;&nbsp;    Counter Item ( 5 ) 
        </p>
        <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-right u-container-align-center u-container-style u-layout-cell u-size-60  ">
                        <div class="u-container-layout u-container-layout-1">
                            @*************************************Bar********************************************@
                            <div class="container-fluid">
                                <br /><br />
                                <ul class="list-unstyled multi-steps">
                                    <li id="View_Status0" class="_clearSta display_none">0</li>
                                    <li id="View_Status1" class="_clearSta ">Review</li>
                                    <li id="View_Status2" class="_clearSta ">Send to</li>
                                    <li id="View_Status3" class="_clearSta ">Store</li>
                                    <li id="View_Status4" class="_clearSta ">Delivery</li>
                                    <li id="View_Status5" class="_clearSta ">Customer</li>
                                </ul>
                            </div>

                            @*********************************************************************************@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div id="btn_Delete" style="background-color: #803232;" class="USER1 USER2  Status1 Status2 Status3 hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-1 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-3"><img src="~/NewStyle/images/2325148-28c38e53.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-3">Delete</h4>
                    </div>
                </div>
                <div id="btn_freeze" style="background-color: #1476cc;" class="USER10    Status1 Status2 hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-2 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-3"><img src="~/NewStyle/images/7401471-4294aa1a.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-4"> freeze</h4>
                    </div>
                </div>
                <div id="btn_Active" href="#" class=" USER10  Status1 Status2 hidden_Control  display_none But_Inv u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #145d1e; ">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="~/NewStyle/images/2560416-11b1db70.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Active <br>
                        </h4>
                    </div>
                </div>

                <div id="btn_Edit_Order" class="USER10 USER1 USER2 Status1 Status0  hidden_Control  display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-3 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-3"><img src="~/NewStyle/images/931077-6ca510ad.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-5">
                            Review Order<br>
                        </h4>
                    </div>
                </div>
                <div id="btn_Confirm" class="USER1 USER2 Status1  hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity;animation-duration: 1250ms;background-color: #145d1e;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="~/NewStyle/images/2560416-11b1db70.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Confirm<br>
                        </h4>
                    </div>
                </div>

                <div id="btn_Receiving_Order" href="#" class="USER1 USER2  USER3 Status2 hidden_Control display_none But_Inv u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #a76023; ">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="~/NewStyle/images/2560416-11b1db70.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Receiving items <br>
                        </h4>
                    </div>
                </div>

                <div id="btn_Delivery_Order" class="USER1 USER2  USER3 Status3  hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #717164;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="~/NewStyle/images/2560416-11b1db70.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Delivery Note<br>
                        </h4>
                    </div>
                </div>

                <div id="btn_Print" class="USER1 USER2  USER3 Status3  hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #8d9308;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="~/NewStyle/images/2560416-11b1db70.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Print<br>
                        </h4>
                    </div>
                </div>

                <div id="btn_Deliver_shipment" class=" USER1 USER2  USER3 Status3 hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #145d1e;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4"><img src="~/NewStyle/images/2560416-11b1db70.png" alt=""></span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Deliver shipment<br>
                        </h4>
                    </div>
                </div>

                <div id="btn_Open_Location" class="  USER1 USER2  USER11 Status4   hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-3 animated customAnimationIn-played" style="background-color: #002c52;" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms;">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-3" style="font-size: 72px;width: 94px;">🏠</span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-5">
                            Open Location<br>
                        </h4>
                    </div>
                </div>


                <div id="btn_Return" class="  USER1 USER2  USER11 Status4 hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #12454a; ">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4" style="font-size: 72px;width: 94px;">🚫</span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Select items <br>
                        </h4>
                    </div>
                </div>


                <div id="btn_Return_All_Order" class="  USER1 USER2  USER11 Status4 hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #5d1414; ">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4" style="font-size: 72px;width: 94px;">❌</span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Return Order<br>
                        </h4>
                    </div>
                </div>


                <div id="btn_Deliver_Customer" class=" USER1 USER2  USER11 Status4 hidden_Control display_none u-align-center u-container-align-center u-container-style u-list-item u-palette-4-dark-2 u-radius-22 u-repeater-item u-shape-round u-list-item-4 animated customAnimationIn-played" data-animation-name="customAnimationIn" data-animation-duration="1250" data-animation-delay="500" style="will-change: transform, opacity; animation-duration: 1250ms; background-color: #145d1e; ">
                    <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <span class="u-align-center u-file-icon u-icon u-text-white u-icon-4" style="font-size: 72px;width: 94px;">🤝</span>
                        <h4 class="u-align-center u-custom-font u-text u-text-font u-text-6">
                            Deliver Customer<br>
                        </h4>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
</section>
<script src="~/ClientApp/Order/View_Order.js"></script>

<script>


</script>