.display_none {
    display: none !important;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.text_Mandatory {
    /*background-color: #f39c9c !important;*/
    border: solid 5px #ab0000 !important; 
}

.hidden_Control {
    display: none !important;
}



.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.u-section-4 .u-social-icons-1 { 
    min-height: 0px !important;
    width: 190px !important;
    min-width: 0px !important;
    margin: 0px !important;
}



.u-spacing-10.u-countdown-counter > div + div, .u-spacing-10.u-price-wrapper > div + div, .u-spacing-10.u-language-layout-icons .u-language-url + .u-language-url, .u-spacing-10 .u-social-url + .u-social-url {
    margin-left: 0px !important;
}


.Style_Back {
    color: #ffffff !important;
    background-color: #edc51b !important;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0 0 0 / 58%); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }