.display_none {
    display: none !important;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.text_Mandatory {
    /*background-color: #f39c9c !important;*/
    border: solid 5px #ab0000 !important; 
}

.hidden_Control {
    display: none !important;
}



.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.u-section-4 .u-social-icons-1 { 
    min-height: 0px !important;
    width: 190px !important;
    min-width: 0px !important;
    margin: 0px !important;
}




    .u-spacing-10.u-countdown-counter > div + div, .u-spacing-10.u-price-wrapper > div + div, .u-spacing-10.u-language-layout-icons .u-language-url + .u-language-url, .u-spacing-10 .u-social-url + .u-social-url {
        margin-left: 0px !important;
    }


    .Style_Back {
        color: #ffffff !important;
        background-color: #edc51b !important;
    }



    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgb(0 0 0 / 58%); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }


        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }




@media (max-width: 575px) {
    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
        min-height: auto !important;
    }
}



.Style_Add_Item {
    background-color: #035400;
    color: white;
    font-weight: bold;
    text-align: center;
}

.u-grey-25, .u-body.u-grey-25, section.u-grey-25:before, .u-grey-25 > .u-audio-main-layout-wrapper:before, .u-grey-25 > .u-container-layout:before, .u-grey-25 > .u-inner-container-layout:before, .u-grey-25.u-sidenav:before, .u-container-layout.u-container-layout.u-grey-25:before, .u-table-alt-grey-25 tr:nth-child(even) {
    color: #111111 !important;
    background-color: #f5f5f5 !important;
}

/*********************************************Bar*****************************************/


@charset "UTF-8";

.multi-steps > li.is-active ~ li:before, .multi-steps > li.is-active:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}

.multi-steps > li.is-active ~ li:after, .multi-steps > li.is-active:after {
    background-color: #ededed;
}

.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .multi-steps > li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: #159e5c;
        font-weight: bold;
        font-size: 14px;
    }

        .multi-steps > li:before {
            content: "";
            content: "✓;";
            content: "𐀃";
            content: "𐀄";
            content: "✓";
            display: block;
            margin: 0 auto 4px;
            background-color: #fff;
            width: 36px;
            height: 36px;
            line-height: 32px;
            text-align: center;
            font-weight: bold;
            border-width: 2px;
            border-style: solid;
            border-color: tomato;
            border-radius: 50%;
        }

        .multi-steps > li:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: tomato;
            position: absolute;
            top: 16px;
            left: 50%;
            z-index: -1;
        }

        .multi-steps > li:last-child:after {
            display: none;
        }

        .multi-steps > li.is-active:before {
            background-color: #098300;
            border-color: tomato;
            color: aliceblue;
        }

        .multi-steps > li.is-active ~ li {
            color: #808080;
        }

            .multi-steps > li.is-active ~ li:before {
                background-color: #ededed;
                border-color: #ededed;
            }

/**************************************************************************************/

.Font_SizeLab {
    font-size: 14px !important;
}


.But_Inv:hover {
    background-color: rgb(0,0,0); 
}


.But_Inv:active {
    background-color: rgb(0,0,0);
}


@media (max-width: 991px) {
    .u-section-10 .u-repeater-1 { 
        min-height: 0px !important;
    }
}