.display_none {
    display: none !important;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

.text_Mandatory {
    /*background-color: #f39c9c !important;*/
    border: solid 5px #ab0000 !important; 
}

.hidden_Control {
    display: none !important;
}





 