
<link href="~/NewStyle/Login/Login_Style.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="">
	<div class="u-container-layout u-container-layout-1">
		<h4 class="u-text u-text-default u-text-1">Zone Definition</h4>
		<div class="u-expanded-width u-table u-table-responsive u-table-1">
			<table class="u-table-entity">
				<colgroup>
					<col width="4%">
					<col width="10%">
					<col width="15%">
					<col width="5%">
					<col width="66%">
				</colgroup>
				<thead class="u-table-alt-grey-5 u-table-body" style="font-weight: bold;background-color: #d4dada87;">
					<tr style="height: 51px;">
						<td class="u-table-cell"><i class="fa-sharp fa-solid fa-trash"></i></td>
						<td class="u-table-cell">Code</td>
						<td class="u-table-cell">Describtion</td>
						<td class="u-table-cell">Active</td>
						<td class="u-table-cell">Remark</td>
					</tr>
				</thead>
				<tbody class="u-table-alt-grey-5 u-table-body" id="Zone_Grid">
				</tbody>
			</table>

			<span id="btnAdd" class="glyphicon glyphicon-plus-sign "></span>
		</div>
		<div class="submit">
			<input type="button" class=" __button dark" id="Submit_Update_Profile" value="Update">
			<input type="button" class=" __button dark" id="Submit_Backdown_Profile" value="Back down">
		</div>
		 
	</div>

</div>


<style type="text/css">
	.site-link {
		padding: 5px 15px;
		position: fixed;
		z-index: 99999;
		background: #fff;
		box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		right: 30px;
		bottom: 30px;
		border-radius: 10px;
	}

		.site-link img {
			width: 30px;
			height: 30px;
		}

	.checkbox {
		width: 50px;
		height: 45px;
	}

	#btnAddDetails {
		font-size: 40px;
	}

		#btnAddDetails:hover {
			color: #24b414;
		}

</style>
<script>


	$(document).ready(function () {
		$("#rgstr_button").click(function () {
			$('.veen .wrapper').addClass('move');
			//$('.body').css('background', '#e0b722');
			$('.body').css('background', '#33aeb6');
			$(".veen .login-btn button").removeClass('active');
			$(this).addClass('active');
		});
		$("#login_button").click(function () {
			$('.veen .wrapper').removeClass('move');
			//$('.body').css('background', '#ff4931');
			$('.body').css('background', '#3b674c');
			$(".veen .rgstr-btn button").removeClass('active');
			$(this).addClass('active');
		});
	});

</script>
<script src="~/ClientApp/Accountant/ReceiptNote.js"></script>
