
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-xs-12">
    <div style="margin-top:10%!important">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2">
            <a href="/Home/AdminCompIndex" class="btn btn-main">
                <span> Company Setting</span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/Home/AdminBarIndex" class="btn btn-main">
                <span> Branch Setting</span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/Home/AdminCompDataIndex" class="btn btn-main">
                <span> Rest Company</span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/Home/AdminColseComp" class="btn btn-main">
                <span>  Company Year Setting </span>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="/Home/AdminRoleBranch" class="btn btn-main">
                <span> Role Branch</span>
            </a>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div style="margin-top:10%!important">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-2">
            <a href="/Home/RoleIndex" class="btn btn-main">
                <span> Role Setting</span>
            </a>
        </div>
        
        <div class="col-xs-2">
            <a href="/Home/G_ModuleIndex" class="btn btn-main">
                <span> G_Module Setting</span>
            </a>
        </div>
		
        <div class="col-xs-2">
            <a href="/Home/AdminReportIndex" class="btn btn-main">
                <span> G_Report Setting</span>
            </a>
        </div>
         
        <div class="col-xs-1">
        </div>
    </div>
</div>

 
 