


<div class="u-clearfix u-sheet u-sheet-1 animate__animated animate__zoomIn">
    <h2 class="u-align-center u-text u-text-palette-2-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0"> Welcome</h2>
    <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-1">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-1" src="~/NewStyle/images/4.jpg" alt="" data-image-width="444" data-image-height="444">
                    <h5 class="u-hover-feature u-text u-text-2"> Brand Campaign</h5>
                    <p class="u-hover-feature u-text u-text-3"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/ui.jpg" alt="" data-image-width="444" data-image-height="444">
                    <h5 class="u-hover-feature u-text u-text-4"> A Corporate Identity </h5>
                    <p class="u-hover-feature u-text u-text-5"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-3" src="~/NewStyle/images/73.jpg" alt="" data-image-width="626" data-image-height="626">
                    <h5 class="u-hover-feature u-text u-text-6"> Web Design Website</h5>
                    <p class="u-hover-feature u-text u-text-7"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-4">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-4" src="~/NewStyle/images/467.jpg" alt="" data-image-width="626" data-image-height="626">
                    <h5 class="u-hover-feature u-text u-text-8"> Lightboxes</h5>
                    <p class="u-hover-feature u-text u-text-9"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-5">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-5" src="~/NewStyle/images/1.jpg" alt="" data-image-width="700" data-image-height="705">
                    <h5 class="u-hover-feature u-text u-text-10">Flyer design</h5>
                    <p class="u-hover-feature u-text u-text-11"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-6">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-6" src="~/NewStyle/images/2.jpg" alt="" data-image-width="700" data-image-height="705">
                    <h5 class="u-hover-feature u-text u-text-12">Applications</h5>
                    <p class="u-hover-feature u-text u-text-13"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-7">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-7" src="~/NewStyle/images/41.jpg" alt="" data-image-width="626" data-image-height="626">
                    <h5 class="u-hover-feature u-text u-text-14"> Business cards</h5>
                    <p class="u-hover-feature u-text u-text-15"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-similar-container u-container-layout-8">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-8" src="~/NewStyle/images/453w5.jpg" alt="" data-image-width="800" data-image-height="533">
                    <h5 class="u-hover-feature u-text u-text-16">Responsive design</h5>
                    <p class="u-hover-feature u-text u-text-17"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-9" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-container-layout-9">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-9" src="~/NewStyle/images/vcvc.jpg" alt="" data-image-width="462" data-image-height="417">
                    <h5 class="u-hover-feature u-text u-text-18">Applications</h5>
                    <p class="u-hover-feature u-text u-text-19">UI / UX</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-10" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-container-layout-10">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-10" src="~/NewStyle/images/businessman-checking-stock-market-online_53876-11970.jpg" alt="" data-image-width="626" data-image-height="417">
                    <h5 class="u-hover-feature u-text u-text-20">Applications</h5>
                    <p class="u-hover-feature u-text u-text-21">UI / UX</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-11" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-container-layout-11">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-11" src="~/NewStyle/images/46.jpg" alt="" data-image-width="626" data-image-height="626">
                    <h5 class="u-hover-feature u-text u-text-22"> Business cards</h5>
                    <p class="u-hover-feature u-text u-text-23"> Graphic Design</p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-12" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                <div class="u-container-layout u-similar-container u-container-layout-12">
                    <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-12" src="~/NewStyle/images/3546546.jpg" alt="" data-image-width="845" data-image-height="816">
                    <h5 class="u-hover-feature u-text u-text-24"> Business cards</h5>
                    <p class="u-hover-feature u-text u-text-25"> Graphic Design</p>
                </div>
            </div>
        </div>
    </div>
</div>


