


<div class="u-clearfix u-custom-color-2 u-section-1" id="carousel_658f">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-gradient u-layout-cell u-size-10-lg u-size-11-md u-size-11-sm u-size-11-xs u-size-8-xl u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <span class="u-icon u-icon-circle u-palette-1-light-3 u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-4483"></use></svg><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-4483" style="enable-background:new 0 0 60 60;">
                                    <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951
	c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319
	c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056
	v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309
	c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043
	C53,47.519,51.089,44.427,48.014,42.889z"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-custom-color-2 u-layout-cell u-size-29-lg u-size-45-xl u-size-49-md u-size-49-sm u-size-49-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h3 class="u-text u-text-1">Name User</h3>
                            <h6 class="u-custom-font u-font-montserrat u-text u-text-2">
                                job title type<br>
                            </h6>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-2 u-layout-cell u-size-21-lg u-size-60-md u-size-60-sm u-size-60-xs u-size-7-xl u-layout-cell-3">
                        <div id="btn_Logout" class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-3">
                            <span class="u-file-icon u-icon u-icon-circle u-white u-icon-2"><img src="~/NewStyle/images/4400483.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_47a3">


























    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div id="Btn_Order_Saller" class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-1" src="~/NewStyle/images/4.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h5 class="u-hover-feature u-text u-text-1"> Brand Campaign</h5>
                        <p class="u-hover-feature u-text u-text-2"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/ui.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h5 class="u-hover-feature u-text u-text-3"> A Corporate Identity </h5>
                        <p class="u-hover-feature u-text u-text-4"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-3" src="~/NewStyle/images/73.jpg" alt="" data-image-width="626" data-image-height="626">
                        <h5 class="u-hover-feature u-text u-text-5"> Web Design Website</h5>
                        <p class="u-hover-feature u-text u-text-6"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-4" src="~/NewStyle/images/467.jpg" alt="" data-image-width="626" data-image-height="626">
                        <h5 class="u-hover-feature u-text u-text-7"> Lightboxes</h5>
                        <p class="u-hover-feature u-text u-text-8"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-5">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-5" src="~/NewStyle/images/1.jpg" alt="" data-image-width="700" data-image-height="705">
                        <h5 class="u-hover-feature u-text u-text-9">Flyer design</h5>
                        <p class="u-hover-feature u-text u-text-10"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-6">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-6" src="~/NewStyle/images/2.jpg" alt="" data-image-width="700" data-image-height="705">
                        <h5 class="u-hover-feature u-text u-text-11">Applications</h5>
                        <p class="u-hover-feature u-text u-text-12"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-7">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-7" src="~/NewStyle/images/41.jpg" alt="" data-image-width="626" data-image-height="626">
                        <h5 class="u-hover-feature u-text u-text-13"> Business cards</h5>
                        <p class="u-hover-feature u-text u-text-14"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-8">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-8" src="~/NewStyle/images/453w5.jpg" alt="" data-image-width="800" data-image-height="533">
                        <h5 class="u-hover-feature u-text u-text-15">Responsive design</h5>
                        <p class="u-hover-feature u-text u-text-16"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-9" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                    <div class="u-container-layout u-similar-container u-container-layout-9">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-9" src="~/NewStyle/images/vcvc.jpg" alt="" data-image-width="462" data-image-height="417">
                        <h5 class="u-hover-feature u-text u-text-17">Applications</h5>
                        <p class="u-hover-feature u-text u-text-18">UI / UX</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-10" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                    <div class="u-container-layout u-similar-container u-container-layout-10">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-10" src="~/NewStyle/images/businessman-checking-stock-market-online_53876-11970.jpg" alt="" data-image-width="626" data-image-height="417">
                        <h5 class="u-hover-feature u-text u-text-19">Applications</h5>
                        <p class="u-hover-feature u-text u-text-20">UI / UX</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-11" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                    <div class="u-container-layout u-similar-container u-container-layout-11">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-11" src="~/NewStyle/images/46.jpg" alt="" data-image-width="626" data-image-height="626">
                        <h5 class="u-hover-feature u-text u-text-21"> Business cards</h5>
                        <p class="u-hover-feature u-text u-text-22"> Graphic Design</p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-12" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                    <div class="u-container-layout u-similar-container u-container-layout-12">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-12" src="~/NewStyle/images/b95d9abc8b862656098218a335b619025aa7ac4a3d19803ef76bb57a5d77cc90736e61db4918688fd89c3b8db9a06ffb549d71fadad9059c2d8cb9_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                        <h5 class="u-hover-feature u-text u-text-23"> Business cards</h5>
                        <p class="u-hover-feature u-text u-text-24"> Graphic Design</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
















</div>


<script src="~/ClientApp/Home/Home.js"></script>