@using Inv.WebUI.Resources
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row gy-3" id="div_ContentData">
    <div class="col-12">
        <div class="card bg-light-blue">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="form-group d-flex">
                            <label class="col-4 col-lg-2 col-md-2 align-self-center p-md-0">@SystemResource.App_SubSystem</label>
                            <div class="col-8 col-lg-8 col-md-10">
                                <select id="drpuserType" class="form-control">
                                    <option value="Null">@SystemResource.choose_branch</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light-blue">
            <div class="card-body">
                <!-- Table 1 -->
                <div id="ReportGrid1" class="mt-4"></div>
            </div>
        </div>
        <div class="card bg-light-blue">
            <div class="card-body">
                <!-- Table 2 -->
                <div id="ReportGrid2" class="mt-4"></div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/ClientApp/Tools/LnkvarBranch/LnkvarBranch.js"></script>
    }
