
<link href="~/NewStyle/Login/Login_Style.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@

<script src="~/NewStyle/Offline/jquery-3.1.1.min.js"></script>
<script src="~/NewStyle/Offline/jquery-ui.min.js"></script>
<link href="~/NewStyle/Offline/bootstrap.min.css" rel="stylesheet" />

<div class="">
    <div class=" ">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity">
                <colgroup>
                    <col width="4%">
                    <col width="10%">
                    <col width="15%">
                    <col width="5%">
                    <col width="66%">
                </colgroup>
                <thead class="u-table-alt-grey-5 u-table-body" style="font-weight: bold;background-color: #d4dada87;">
                    <tr style="height: 51px;">
                        <td class="u-table-cell"><i class="fa-sharp fa-solid fa-trash"></i></td>
                        <td class="u-table-cell">Code</td>
                        <td class="u-table-cell">Describtion</td>
                        <td class="u-table-cell">Active</td>
                        <td class="u-table-cell">Remark</td>
                    </tr>
                </thead>
                <tbody class="u-table-alt-grey-5 u-table-body" id="Zone_Grid">
                </tbody>
            </table>

        </div>
        <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
            <div class="u-form-group u-form-group-5">
                <input type="button" id="btnAdd" value="Add Promo Code" class="Style_Add_Item u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-form-partition-factor-2">
                <input type="button" id="Submit_Update_Profile" value="Save" class="Style_Add_Item u-input u-input-rectangle" style="width: 100%; background-color: darkcyan;">
            </div>
            <div class="u-form-group u-form-name u-form-partition-factor-2">
                <input type="button" id="Submit_Backdown_Profile" value="Back down" class="Style_Add_Item u-input u-input-rectangle" style="width: 100%; background-color: #a5b219; ">
            </div>

        </form>

    </div>

</div>


<style type="text/css">
    .site-link {
        padding: 5px 15px;
        position: fixed;
        z-index: 99999;
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        right: 30px;
        bottom: 30px;
        border-radius: 10px;
    }

        .site-link img {
            width: 30px;
            height: 30px;
        }

    .checkbox {
        width: 50px;
        height: 45px;
    }

    #btnAddDetails {
        font-size: 40px;
    }

        #btnAddDetails:hover {
            color: #24b414;
        }
</style>
<script>


    $(document).ready(function () {
        $("#rgstr_button").click(function () {
            $('.veen .wrapper').addClass('move');
            //$('.body').css('background', '#e0b722');
            $('.body').css('background', '#33aeb6');
            $(".veen .login-btn button").removeClass('active');
            $(this).addClass('active');
        });
        $("#login_button").click(function () {
            $('.veen .wrapper').removeClass('move');
            //$('.body').css('background', '#ff4931');
            $('.body').css('background', '#3b674c');
            $(".veen .rgstr-btn button").removeClass('active');
            $(this).addClass('active');
        });
    });

</script>
<script src="~/ClientApp/PromoCode/PromoCode.js"></script>
