 
 
<p id="TestError">
    '@Session["MessageError"]'
</p>
 

<script type="text/javascript">
    debugger

    //  var myVal = ;

    //alert(myVal)
    //var session = '<%= HttpContext.Session["MessageError"] %>';

    //$('#TestError').html(myVal);

</script>