<link href="~/NewStyle/Login/Login_Style.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div id="bodyLogin" class="body hidden_Control">
    <div class="veen">
        <div class="login-btn splits">
            <p>Already an user?</p>
            <input type="button" class=" __button active" id="login_button" value="Login" />
        </div>
        <div class="rgstr-btn splits">
            <p class="_rgstr">Don't have an account?</p>
            <p class="_ready">Already an user?</p> 
            <input type="button" class=" __button _rgstr " id="rgstr_button" value="Register" />
        </div>
        <div class="wrapper">
            <form id="login" tabindex="500">
                <h3>Login</h3>
                <div class="mail">
                    <input id="txtUsername"  type="email" name="">
                    <label>Username</label>
                </div>
                <div class="passwd">
                    <input id="txtPassword"  type="password" name="">
                    <label>Password</label>
                </div>
                <div class="submit">
                    <input type="button" class=" __button dark" id="Submit_Login" value="Login" />
                </div>

            </form>
            <form id="register" tabindex="502" style="margin-top: 120px;">
                <h3>Register</h3>
                 
				<div class="name">
					<input id="Reg_Comp_Name" maxlength="250" class="_Clear_Reg" type="text" name="">
					<label>Company Name</label>
				</div>
                <div class="name">
                    <input id="Reg_Full_Name" maxlength="50" class="_Clear_Reg" type="text" name="">
                    <label>Full Name</label>
                </div>
                <div class="name">
                    <input id="Reg_Address" maxlength="100" class="_Clear_Reg" type="text" name="">
                    <label>Address</label>
                </div>
                <div class="name">
                    <input id="Reg_Mobile" maxlength="11" class="_Clear_Reg" type="text" name="">
                    <label>Mobile Number</label>
                </div>
                <div class="name">
                    <input id="Reg_ID_Num"   class="_Clear_Reg" type="number" name="">
                    <label>ID Number</label>
                </div>
                <div class="mail">
                    <input  id="Reg_Mail"  class="_Clear_Reg" type="email" name="">
                    <label>Mail</label>
                </div>
                <div class="uid">
                    <input id="Reg_UserName" maxlength="20" class="_Clear_Reg" type="text" name="">
                    <label>User Name</label>
                </div>
                <div class="passwd">
                    <input id="Reg_Password" maxlength="20" class="_Clear_Reg" type="password" name="">
                    <label>Password</label>
                </div>
                <div class="submit">
                    <input type="button" class=" __button dark" id="Submit_Register" value="Register" />
                </div>
            </form>
        </div>
    </div>
</div>


<style type="text/css">
    .site-link {
        padding: 5px 15px;
        position: fixed;
        z-index: 99999;
        background: #fff;
        box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        right: 30px;
        bottom: 30px;
        border-radius: 10px;
    }

        .site-link img {
            width: 30px;
            height: 30px;
        }
</style>
<script>


    $(document).ready(function () {
        $("#rgstr_button").click(function () {
            $('.veen .wrapper').addClass('move');
            //$('.body').css('background', '#e0b722');
            $('.body').css('background', '#33aeb6');
            $(".veen .login-btn button").removeClass('active');
            $(this).addClass('active');
        });
        $("#login_button").click(function () {
            $('.veen .wrapper').removeClass('move');
            //$('.body').css('background', '#ff4931');
            $('.body').css('background', '#3b674c');
            $(".veen .rgstr-btn button").removeClass('active');
            $(this).addClass('active');
        });
    });

</script>
<script src="~/ClientApp/Login/Login.js"></script>