
<style>

    .u-btn {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
    }
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



	<form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
		<div class="u-form-email u-form-group u-form-partition-factor-9">

		</div>
		<div class="u-form-email u-form-group u-form-partition-factor-7">
			<label for="" class="u-label u-text-grey-40">From Date</label>
			<input type="date" placeholder="0" id="Txt_From_Date" class=" u-input u-input-rectangle">
		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-7">
			<label for="" class="u-label u-text-grey-40">To Date</label>
			<input type="date" placeholder="0" id="Txt_To_Date" class=" u-input u-input-rectangle">
			<input type="hidden" placeholder="0" id="Txt_SalesmanId" class="">
		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-6">
			<label for="db_FamilyZone" class="u-label u-text-grey-40">Family Zone</label>
			<select id="db_FamilyZone" name="select" class="u-input u-input-rectangle">
			</select>
		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-7">
			<label for="db_Zone" class="u-label u-text-grey-40">Zone</label>
			<select id="db_Zone" name="select" class="u-input u-input-rectangle">
			 
			</select>
		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-7">
			<label for="" class="u-label u-text-grey-40"> </label>
			<a id="Filter_Select_Delivery" style="width: 100%;" class=" u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">Select Delivery</a>
		</div>
		<div class="u-form-group u-form-name u-form-partition-factor-7">
			<label for="" class="u-label u-text-grey-40"> </label>
			<a id="Filter_View" style="width: 100%;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">Filter</a>

		</div>
		<div class="u-form-email u-form-group u-form-partition-factor-9" style="text-align: -webkit-center;">
			<h6 id="btnDelete_Filter" class="display_none" style="width: 20%; cursor: pointer;">❌</h6>
		</div>
	</form>


    @************************************************Tab****************************************************************@

    <div id="" class="  u-expanded-width u-tab-links-align-left u-tabs u-tabs-1">
        <ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled" role="tablist">

            <li id="View_Invoices" class="u-tab-item" role="presentation">
                <a class="active u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-1" id="Tap_View_Inv" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">View Invoice</a>
            </li>
            <li id="View_Return" class="u-tab-item" role="presentation">
                <a class="u-active-palette-1-base u-button-style u-grey-10 u-tab-link u-text-active-white u-text-black u-tab-link-3" id="Tap_View_Ret" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">View Retrun</a>
            </li>
        </ul>
        <div class="u-tab-content" style="overflow-x: scroll;">
            @******************************************************Invoic******************************@
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="Tap_View_Inv">

                <div class="inside-table my-4">


                    <div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
                        <label for="" class="u-label u-text-grey-40">_____Search 🔎</label>
                        <input type="text" placeholder="   Search : " id="txtSearch" name="email" class="Clear_Header u-input u-input-rectangle" required="">
                    </div>

                    <div id="_Grid">

                    </div>


                </div>





            </div>



            @******************************************************Retrun******************************@
            <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="Tap_View_Ret">

                <div class="inside-table my-4">


                    <div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
                        <label for="" class="u-label u-text-grey-40">_____Search 🔎</label>
                        <input type="text" placeholder="   Search : " id="txtSearchRet" name="email" class="Clear_Header u-input u-input-rectangle" required="">
                    </div>

                    <div id="_Grid_Ret">

                    </div>


                </div>




            </div>

        </div>
    </div>


    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        @***************************Ret*******************************@

        <div class="Txt_Ret_Tot u-form-email u-form-group u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">Line Count Return</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_LineCountRet" class=" u-input u-input-rectangle">
        </div>
        <div class="Txt_Ret_Tot u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">Items Count Return</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_ItemsCountRet" class=" u-input u-input-rectangle">
        </div>
        <div class="Txt_Ret_Tot u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">Total Amount Return</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_Amount_Return" class="  u-input u-input-rectangle">
        </div>
        @***************************Inv*******************************@

        <div class="Txt_Inv_Tot u-form-email u-form-group u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">Line Count </label>
            <input disabled type="text" placeholder="0" id="Txt_Total_LineCount" class=" u-input u-input-rectangle">
        </div>
        <div class="Txt_Inv_Tot u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">Items Count </label>
            <input disabled type="text" placeholder="0" id="Txt_Total_ItemsCount" class=" u-input u-input-rectangle">
        </div>
        <div class="Txt_Inv_Tot  u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">Collection amount</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_Amount" class="  u-input u-input-rectangle">
        </div>

 
    
    </form>




</div>




<script src="~/ClientApp/JsGrid.js"></script>
<script src="~/Scripts/jsgrid/jsgrid.js"></script>
<script src="~/ClientApp/GeneralHub/Chase_Delivery.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
