
<style>

    .u-btn {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
    }
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        <div class="u-form-email u-form-group u-form-partition-factor-9">

        </div>
    </form>

    <div class="inside-table my-4">


        <div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
            <label for="Txt_Ref_No" class="u-label u-text-grey-40">_____Search 🔎</label>
            <input type="text" placeholder="   Search : " id="txtSearchCoding" name="email" class="Clear_Header u-input u-input-rectangle" required="">
        </div>

        <div id="_Gide_Div" style=" width: 95%;">
            <div id="_GridItems" style="position: relative;height: auto;width: 95%;margin-left: 2.5%;">

            </div>
        </div>
        <div id="_Scan_Div" style=" width: 95%;">
         
        </div>


    </div>

    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        <div class="u-form-email u-form-group u-form-partition-factor-7">

        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-4">
            <label for="" class="u-label u-text-grey-40">Line Count</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_LineCountCoding" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-4">
            <label for="" class="u-label u-text-grey-40">Select Store</label>
            <select id="db_Store" name="select" class="u-input u-input-rectangle">
                <option value="2">Store 1</option>
                <option value="3">Store 2</option>
            </select>
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-4">
            <label for="" class="u-label u-text-grey-40"> </label>
            <a id="Coding_Confirm" style="width: 100%;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">Confirm</a>
        </div>
    </form>

    <a id="Id_ScanCodeClick" class="display_none u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">Next</a>
</div>




<script src="~/ClientApp/JsGrid.js"></script>
<script src="~/Scripts/jsgrid/jsgrid.js"></script>

<script src="~/ClientApp/GeneralHub/Coding_Items.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>



<script src="https://rawgit.com/cozmo/jsQR/master/dist/jsQR.js"></script>

<script>


    $("#Id_ScanCodeClick").on('click', function () {
        debugger
        var id_butScan = localStorage.getItem("butScan");
        var id_txtItemCode = localStorage.getItem("id_txtItemCode");
        const qrcodeInput = document.getElementById(id_butScan);

        // Access the camera and start scanning when the input is focused
        qrcodeInput.addEventListener("focus", async function () {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } });
                const video = document.createElement('video');

                $('#_Gide_Div').addClass("display_none");
                $('#_Scan_Div').removeClass("display_none");
                //$('#_Scan_Div').html(""); 
                document.getElementById('_Scan_Div').appendChild(video);
                //document.body.appendChild(video);
                video.srcObject = stream;
                await video.play();

                const canvas = document.createElement('canvas');
                //document.body.appendChild(canvas);
                document.getElementById('_Scan_Div').appendChild(canvas);

                const context = canvas.getContext('2d');

                const scanQRCode = async () => {
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    context.drawImage(video, 0, 0, canvas.width, canvas.height);

                    const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
                    const code = jsQR(imageData.data, imageData.width, imageData.height);

                    if (code) {
                        qrcodeInput.value = "Scan Camera 📷";
                        $('#' + id_txtItemCode + '').val(code.data)
                        //qrcodeInput.value = code.data;
                        stream.getTracks().forEach(track => track.stop());
                        //document.body.removeChild(video);
                        //document.body.removeChild(canvas);
                        document.getElementById('_Scan_Div').removeChild(video);
                        document.getElementById('_Scan_Div').removeChild(canvas);
                        //$('#_Scan_Div').html("");
                        $('#_Gide_Div').removeClass("display_none");
                        qrcodeInput.blur(); // Unfocus the input to stop continuous scanning
                    } else {
                        requestAnimationFrame(scanQRCode);
                    }
                };

                scanQRCode();
            } catch (error) {
                console.error('Error accessing camera:', error);
            }
        });
    });

    //document.addEventListener("DOMContentLoaded", function () {
      
    //});
</script>


