
<style>

    .u-btn {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
    }
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        <div class="u-form-email u-form-group u-form-partition-factor-9">

        </div>
    </form>

    <div class="inside-table my-4">


        <div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
            <label for="Txt_Ref_No" class="u-label u-text-grey-40">_____Search 🔎</label>
            <input type="text" placeholder="   Search : " id="txtSearchCoding" name="email" class="Clear_Header u-input u-input-rectangle" required="">
        </div>

        <div id="_Gide_Div" style=" width: 95%;">
            <div id="_GridItems" style="position: relative;height: auto;width: 95%;margin-left: 2.5%;">

            </div>
        </div>
        <div id="_Scan_Div" style=" width: 95%;">
         
        </div>


    </div>

    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">

        <div class="u-form-email u-form-group u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">Line Count</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_LineCountCoding" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">Return Total</label>
            <input disabled type="text" placeholder="0" id="Txt_Net_TotalRet" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">Items Total</label>
            <input disabled type="text" placeholder="0" id="Txt_Item_Total" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">Vat Amount</label>
            <input disabled type="text" placeholder="0" id="Txt_VatAmount" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">Commition</label>
            <input disabled type="text" placeholder="0" id="Txt_CommitionAmount" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-8">
            <label for="" class="u-label u-text-grey-40">Net Total</label>
            <input disabled type="text" placeholder="0" id="Txt_Net_Total" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-8">
            <label for="" class="u-label u-text-grey-40">Delivery Code</label>
            <input   type="number" placeholder="0" id="Txt_Delivery_Code" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-8">
            <label for="" class="u-label u-text-grey-40"> </label>
            <a id="Coding_Confirm" style="width: 100%;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">Confirm</a>
        </div>
    </form>

</div>




<script src="~/ClientApp/JsGrid.js"></script>
<script src="~/Scripts/jsgrid/jsgrid.js"></script>

<script src="~/ClientApp/GeneralHub/Return_Items.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

 