 
<style>

    .u-btn {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
    }
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        <div class="u-form-email u-form-group u-form-partition-factor-8">

        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">From Date</label>
            <input   type="date" placeholder="0" id="Txt_From_Date" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40">To Date</label>
            <input   type="date" placeholder="0" id="Txt_To_Date" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40"> </label>
             
            <a id="Filter_Select_Seller" style="width: 100%;" class=" u-btn u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">Select Seller</a>
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-5">
            <label for="" class="u-label u-text-grey-40"> </label>
             
            <a id="Filter_View" style="width: 100%;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">Filter</a>
        </div>
    </form>

    <div class="inside-table my-4">


        <div class="u-form-email u-form-group u-form-partition-factor-2" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">
            <label for="Txt_Ref_No" class="u-label u-text-grey-40">_____Search 🔎</label>
            <input type="text" placeholder="   Search : " id="txtSearch" name="email" class="Clear_Header u-input u-input-rectangle" required="">
        </div>

        <div id="_Grid">

        </div>


    </div>

    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        <div class="u-form-email u-form-group u-form-partition-factor-7">

        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-4">
            <label for="" class="u-label u-text-grey-40">Line Count</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_LineCount" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-4">
            <label for="" class="u-label u-text-grey-40">Items Count</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_ItemsCount" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-4">
            <label for="" class="u-label u-text-grey-40">Total Amount</label>
            <input disabled type="text" placeholder="0" id="Txt_Total_Amount" class="  u-input u-input-rectangle">
        </div>
    </form>

</div>




<script src="~/ClientApp/JsGrid.js"></script>
<script src="~/Scripts/jsgrid/jsgrid.js"></script>
<script src="~/ClientApp/GeneralHub/View_Validate_Orders.js"></script>
