@using Inv.WebUI.Resources
@{
    ViewBag.Title = @SystemResource.Purchase_Recieve;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .page-body-wrapper{
        width:100%;
    }
    svg {
        background-color: #fff !important;
        border: solid 1px #000000 !important;
        border-radius: 2px;
    }

    .borderred {
        border: solid 1px #f3f3f3 !important;
        border-radius: 30px;
        padding: 12px 11px;
        margin-left: 0%;
        background-color: #fbebdc !important;
        box-shadow: 0px 2px 8px 7px #cabfbf;
    }

    .borderreddiv {
        border: solid 1px;
        height: -webkit-fill-available;
        border-radius: 29px;
        border: solid 1px;
    }

    .display_none {
        display: none !important;
    }

    #BackError {
        height: 600px;
        background-image: url(../../images/Background/Error.jpg) !important;
        border-radius: 25px !important;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin: 0px auto;
    }

    #htmlContent {
        text-align: center;
    }

    td, th, button {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    html, body.materialdesign {
        background-color: #fbebdc;
    }

    #sidebar {
        display: none !important;
    }

    .divcont {
        margin: 4.5% 11% 0% 10%;
    }
    .navbar {
        right: 0;
    }
        .navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right){
            display: none;
        }
</style>
<div id="div_Reports" class="d-flex justify-content-center" style="direction: ltr!important">
    <div class="row">
        <div id="DivFilter" class="d-flex justify-content-center mb-2">
            <button id="btnPrintPage" class="btn btn-main display_none" style="z-index:999999999">  طبـــــاعة  <i class="fa fa-print"></i></button>
            <button id="btnPrintEX" class="btn btn-main  " style="z-index:999999999">  تنزيل Excel  <i class="fas fa-file-csv fa-fw side-icon ms-1"></i></button>
            <label class="col-xs-1"></label>
            <button id="btnPrintPdf" class="btn btn-main display_none" style="z-index:999999999">  تنزيل Pdf  <i class="fas fa-file-pdf fa-fw side-icon ms-1"></i></button>
        </div>
        <div id="printableArea" class="d-flex justify-content-center">
            <div class="lds-ring"></div>
        </div>
        <div id="BackError" class="display_none"> </div>
        <div id="editor"></div>
    </div>
     
</div>

<div id="printableAreaNew" class="d-flex justify-content-center" style="">

</div>
@*<div id="div_Reports" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 p-0   borderred" style="direction: ltr!important; text-align: center; background-color:#143f6b  !important;  ">
    <div id="DivFilter" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">

            <div class="col-xs-12">

                <div class="col-xs-4">

                </div>
                <div class="col-xs-4">

                    <button id="btnPrint" class="btn btn-main" style="z-index:999999999">  طبـــــاعة  <i class="fa fa-print"></i></button>
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        </div>

    </div>
    <div id="printableArea" class="col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12" >
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>

    </div>
    <div id="BackError" class="display_none">

    </div>

    <div id="editor"></div>
</div>*@


<script>
    function download(filename, textInput) {

    }


</script>
@section Script{
    <script src="~/ClientApp/Report_Page/Report_Page.js"></script>
}

<link href="~/css/loader.css" rel="stylesheet" />